       body {
            font-family: sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
            line-height: 1.6;

            background-image: url('fondo.jpg');
            background-repeat: no-repeat; /* Evita que la imagen se repita */
            background-size: cover; /* Escala la imagen para cubrir todo el fondo */
            /* Otras propiedades de fondo (color, posición, etc.) */

        }

        .container {
            width: 95%;
            max-width: 800px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        h1 {
            text-align: center;
            color: #0056b3;
        }

        h2 {
            color: #0056b3;
            margin-top: 20px;
            margin-bottom: 10px;
        }

        p {
            text-align: center;
            margin-bottom: 20px;
        }

        .section {
            margin-bottom: 30px;
        }

        .project {
            margin-bottom: 20px;
            padding: 15px;
            border: 1px solid #ddd;
            border-radius: 8px;
            background-color: #f9f9f9;
        }

        .project a {
            color: #007bff;
            text-decoration: none;
            transition: color 0.3s ease;
        }

        .project a:hover {
            color: #0056b3;
        }

        .project-description {
            margin-top: 10px;
            color: #555;
        }

        .disclaimer {
            font-size: 0.9em;
            color: #777;
            text-align: center;
            margin-top: 30px;
        }

        ul {
            list-style: disc; /* Cambiado a estilo de lista con puntos */
            padding-left: 20px; /* Añadido padding para alinear los puntos */
            text-align: left; /* Alineado el texto a la izquierda para mejor legibilidad */
        }

        ul li {
            margin-bottom: 5px; /* Reducido el margen entre los elementos de la lista */
        }

        .footer {
            text-align: center;
            margin-top: 40px;
            padding-top: 20px;
            border-top: 1px solid #ddd;
            color: #777;
            font-size: 0.9em;
        }

        .footer a {
            color: #007bff;
            text-decoration: none;
            transition: color 0.3s ease;
        }

        .footer a:hover {
            color: #0056b3;
        }
